.color-purple {
    background-color:#3b5998;
    background-image: linear-gradient(#4e69a2, #3b5998 50%);
    border-bottom: 1px solid #133783;
}

.input-group {
    margin-bottom: 5px;
}

.color-grey {
    background: linear-gradient(white, #D3D8E8);
}

.text-small {
    font-size: 13px;
}

.img {
    border-radius: 50%;
    height: 50px;
}

.nav-item-center {
    margin-left: 15%;
}

.nav-item-right {
    margin-left: 12.5%;
}

.search, .input-group-text {
    border-radius: 40px;
}

#email-or-phone-label, #password-label {
    margin-bottom: 2px;
    font-size: 12px;
    margin-top: 9px;
}



.form-control-sm {
    height: calc(1.5em + .5rem + -4px) !important;
    width: 150px !important;
}

.btn-sm {
    line-height: 1 !important;
    height: 26px !important;
    margin-top: 3px !important;
}

.custom-select-sm {
    width: 78px !important;
    height: calc(1.5em + .5rem + -3px) !important;
    line-height: 1 !important;
}

.button-size {
    width: 12em;
}

.brand-name {
    margin-top: 10px;
}

.real-img {
    border-radius: 50%;
    width: 60px;
    height: 50px;
}

.card-size {
    width: 10rem;
    height: 230px;
}

.card-img {
    height: 160px;
}

.card-img-full {
    height: 230px;
}

.dropdown-menu-left {
    left: -170px;
    top: 60px;
}