.color-purple {
    background-color:#3b5998;
    background-image: linear-gradient(#4e69a2, #3b5998 50%);
    border-bottom: 1px solid #133783;
}

.input-group {
    margin-bottom: 5px;
}

.color-grey {
    background: linear-gradient(white, #D3D8E8);
}

.text-small {
    font-size: 13px;
}

.img {
    border-radius: 50%;
    height: 50px;
}

.nav-item-center {
    margin-left: 15%;
}

.nav-item-right {
    margin-left: 12.5%;
}

.search, .input-group-text {
    border-radius: 40px;
}

#email-or-phone-label, #password-label {
    margin-bottom: 5px;
}